@font-face {
    font-family: 'GreatVibes-Regular';
    src: ('../media/GreatVibes-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
html{
    background-color: #ade8f4;
}
header, footer{
    background-color: #90e0ef;
    display: flex;
}
header > img{
    width: auto;
    height: 10em;
    display: block;
    margin: auto;
    opacity: 1;
}
#btGoogle{
    height: 3em;
    width: auto;
}
#btGoogle:hover{
    cursor:pointer;
}
nav{
    display:flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    justify-content:space-around;
    background-color: #90e0ef;
}
#navLibros{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: #90e0ef;
}
#cajaPadre{
    background-color: #ade8f4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#itxaroten{
    width: 25%;
    height: auto;
    align-self: center;
    display: block;
    visibility:hidden;
}
.clsFichas{
    flex: 1 20%;
    text-align: center;
    flex-direction: column;
    border-style:double;
    border-radius: 0.5em;
    max-width: 20%;
    margin: 1em;
    background-color: #99d98c;
    box-shadow: 5px 5px 10px;
    word-wrap: break-word;
    overflow: hidden;
    background-color: wheat;
}
article:hover, article:focus{
    background-color: #43aa8b;
}
p, button{
    margin: 1em;
}
button:hover {
    cursor: pointer;
}
#gotoAmazon{
    color:black;
    text-align: center;
}
#top{
    margin:1em;
}
footer{
    flex-flow: row wrap;
    justify-content: space-around;
    display: flex;
    align-content: flex-end;
    align-self:flex-end;
    text-align: center;
}

/***************************************************\
 *               BIGARREN HORRIALDEA                *
 *                    libros.html                   *
\***************************************************/
#cajaMadre{
    background-color: #ade8f4;
    display: flex;
    flex-flow: row wrap;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
}
.imgLibros{
   max-width: 90%;
    height: 50%;
    /*
    max-width: 90%;
    height: auto;*/
    margin: 5%;
    align-self: center;
}
.clsLibros{
    flex: 1 20%;
    display: flex;
    /*text-align: center;*/
    flex-direction: column;
    
    border-style:double;
    border-radius: 0.5em;
    max-width: 20%;
    margin: 1em;
    background-color: #99d98c;
    box-shadow: 5px 5px 10px;
    word-wrap: break-word;
    overflow: hidden;
}
.clsLibros > h3{
    text-align: center;
}
#btAmazon :hover{
    cursor:pointer;
}


/*********** RESPONSIVE *****************
/Mugikorra                             */
@media only screen and (max-width:600px) {
    article{
        flex: 1 25%;
        text-align: center;
        flex-direction: column;
        border-style:double;
        border-radius: 0.5em;
        max-width: 45%;
        margin: 1em;
        box-shadow: 5px 5px 10px;
        word-wrap: break-word;
        overflow: hidden;
    }
}

/* Tablet */
@media only screen and (min-width:600px) and (max-width:990px) {
    article{
        flex: 1 25%;
        max-width: 45%;
    }
}


